{
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": false,
  "jsxSingleQuote": false,
  "quoteProps": "as-needed",
  "trailingComma": "all",
  "bracketSpacing": true,
  "arrowParens": "always",
  "rangeStart": 0,
  "requirePragma": false,
  "insertPragma": false,
  "proseWrap": "preserve",
  "htmlWhitespaceSensitivity": "css",
  "endOfLine": "auto",
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": [
    "(^@|^[A-Za-z])(?!internals)(.*(?<!tyles)$)",
    "(^[.]|^@internals)(?!^[A-Za-z])(.*(?<!tyles)$)",
    "tyles"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
